
:root {
  --main-color: #ffffff;
  --secondary-color1: #FBD37B;
  --secondary-color2: #38761d;
  
  --main-font: 'Poppins', sans-serif;
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font);
  margin: 0;
}

a {
  text-decoration: none;
}

#navlinks {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--main-color);
}

#navlinks:hover {
  color: var(--secondary-color1);
}

#nav {
  justify-content: space-between;
  font-family: sans-serif;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
  border-color: black;
  padding-top: 0px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#logo {
  font-size: 3rem;
  font-family: var(--main-font);
  color: #fff;
  text-align: center;
  justify-content: center;
  display: inline-block;
  animation: fade-in 1s ease-in-out;
  margin-left: 36%;
}

#header {
  background-color: var(--secondary-color2);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0%;
  width: 100%;
}

#sidebar {
  width: 150px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 105px;
  left: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar li {
  margin-bottom: 10px;
}

#sidebar a {
  text-decoration: none;
  color: #333;
}

#sidebar a:hover {
  font-weight: bold;
}

#main-content {
  padding: 20px;
  margin-left: 170px;
  margin-right: 10px;
}

.content {
  display: none;
}

#headertitle {
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li {
  display: inline;
  align-items: center;
  text-align: center;
}