:root {
  --main-color: #ffffff;
  --secondary-color1: #FBD37B;
  --secondary-color2: #38761d;
  --main-font: 'Poppins', sans-serif;
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font);
  margin: 0;
}

a {
  text-decoration: none;
}

#navlinks {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--main-color);
}

#navlinks:hover {
  color: var(--secondary-color1);
}

#nav {
  justify-content: space-between;
  font-family: sans-serif;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
  border-color: black;
  padding-top: 0px;
}

#header {
  background-color: var(--secondary-color2);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0%;
  width: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#logo {
  font-size: 3rem;
  font-family: var(--main-font);
  color: #fff;
  text-align: center;
  justify-content: center;
  display: inline-block;
  animation: fade-in 1s ease-in-out;
  margin-left: 36%;
}

li {
  display: inline;
  align-items: center;
  text-align: center;
}

h1 {
  text-align: center;
}
